@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed successfuly</h1>
        your ordernumber is : @Model <br />
        <h1>order placed  successfully</h1>
    </div>
</div>