@model UserViewModel
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">

        <div class="mb-3 d-flex justify-content-end">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCreateUser">
                Create user
            </button>

        </div>



        @if (Model.Users is not null || Model.Users.Any())
        {

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>

                                <form method="post" asp-controller="AdminUsers" asp-action="Delete" asp-route-id="@item.Id">
                                    <button class="btn btn-danger" type="submit">
                                        Delete
                                    </button>

                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }
        else
        {
            <p> No users found</p>
        }
        <h1>User Display</h1>
    </div>



</div>
